*{
    margin: 0px;
    padding: 0px;
}
#cajalogo{
    margin-top: 7px;
    margin-left: 9px;
    display: inline-block;
    float: left;
}
#opciones{
    margin-top: 0%;
    margin-left: 200px;
}
#logo{
    width: 100px;
}

html{
    font-size: 14px;

}

h1{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;

}

h3{
    font-size: 1.5rem;
}
#menuPrincipal{
    background-color: rgb(225, 228, 230);
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    box-shadow: 10px,10px,10px rgb(41, 41, 41);
   
}
.opcionmenuprincipal{
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: rgb(117, 117, 117);
    padding:40px 50px;
    font-size:1rem;
}
.opcionmenuprincipal:hover{
    background-color: rgba(211, 211, 211, 0.932);
    color: rgb(75, 73, 73);
}
#portada{
    
    width: 100%;
}
h1,h2,h3,h4,h5{
    font-family: corbel;
    font-style: normal;
    text-align: center;
    
}
h3{
    margin-bottom: 20%;
}
.contenido{
    width: 100%;
    height: 700px;
    overflow: hidden;
}
.quienessomos{
    position: relative;
    background-color: #0cb925;
}
section{
    margin-top: 0%;
}
.card{
    display: inline-block;
     margin-top: 9px;
     margin-left:55px;
     margin-bottom: 9px;
     margin-right: 55px;
     border: solid 1px;
     border-color: rgba(175, 176, 177, 0.589);
     
     padding: 13px;
     padding-bottom: 20px;
     width: 300px;
     text-align: center;
}
.proyecto{
    
    width: 100%;

}
#portafolio,#nosotros{
    padding-top: 90px;
}
.detalles{
    background-color: rgb(216, 219, 221);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-align: center;
    color:black;
    padding: 4%; 
    padding-right: 35%;
    padding-left: 35%;
}
.detalles:hover{
    background-color: black;
    color: white;
}
#nosotros{
    margin-top: 20px;
}
#mision,#vision,#valores{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff fixed no-repeat 50% 50%;
    background-size: cover;

}
#mision{
    background-image: url('mision.jpg');
}
#valores{
    background-image: url('valores.jpg');
}
.title{
    text-align: left;
    color: white;
    font-size: 2rem;
    margin: 40px;
}
.paralax{
    margin: 20px;
    text-align: justify;
    color: white;
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#vtitle{
    text-align: left;
    color: rgb(10, 10, 10);
    font-size: 2rem;
    margin: 40px;
}
.paralax2{
    margin: 20px;
    text-align: justify;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#servicios{
    padding-top: 130px;
}
#contacto{
    background-color: black;
    padding: 0px;
}
fieldset{
    margin-left: 53px;
    width: 600px;
    border: solid 5px;
    margin-top: 0px;
    margin-bottom: 60px;
    border-color: white;
    float: left;
    
}
legend{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    text-align: center;
    color:rgb(255, 255, 255);
    margin-bottom: 10px;
}
input[type="text"]{
    margin-left: 1.7rem;
    margin-right: 1.7rem;
    margin-bottom: 1.6rem;
    display: block;
    width: 90%;
    height: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
    border: solid 3px;
    color: rgb(255, 255, 255);
    background-color: black;
}
input[type="tel"]{
    margin-left: 1.7rem;
    margin-right: 1.7rem;
    margin-bottom: 1rem;
    display: block;
    width: 90%;
    height: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
    border: solid 3px;
    color: rgb(255, 255, 255);
    background-color: black;
}
input[type="email"]{
    margin-left: 1.7rem;
    margin-right: 1.7rem;
    margin-bottom: 1rem;
    display: block;
    width: 90%;
    height: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    padding-left: 1rem;
    border: solid 3px;
    color: rgb(255, 255, 255);
    background-color: black;
}
input[type="submit"]{
    margin-left: 1.7rem;
    margin-right: 1.7rem;
    margin-bottom: 1rem;
    display: block;
    width: 94%;
    height: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    border: solid 2px;
    color: rgb(255, 255, 255);
    background-color: black;
    padding-top: 12px;
    padding-bottom: 24px;
}
input[type="submit"]:hover{
    color: black;
    background-color: white;
}
textarea{
    margin-left: 1.7rem;
    margin-right: 1.7rem;
    margin-bottom: 1rem;
    display: block;
    width: 88%;
    height: 26px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    padding: 1rem;
    height: 300px;
    border: solid 3px;
    color: rgb(255, 255, 255);
    background-color: black;
}
.col,.col2,h3{
    margin-top: 1px;
    display: inline-block;
    color: white;
}
#info_contacto{
    margin-left: 50px;
    text-align: left;
}
.col2{
    margin-top: 0px;
    height: 200px;
}
#mapa{

    margin-left: 50px;
    margin-bottom: 58px;
}
h3{
    color: black;
    margin: 10px;
}
.divisor{
    width: 100%;
    height: 100px;
}
i{
    margin-right: 20px;
}